*{
    margin:0;
    padding:0;
    font-family: Arial, sans-serif;
}

nav{
    display: flex;
    height:65px;
    width: 100%;
    background-color:#fff ;
    justify-content: center;
    align-items: center;
    gap:100px;
}
header ul{
   display: flex;
   list-style: none;
   justify-content: space-between;
   gap:20px;
}
header ul a{
    text-decoration: none;
    color: #575757;
}
.cmn-btn{
    background-color: #1D4ED8;
    color:white;
    border: none;
    height: 40px;
    width: 150px;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    
}
header ul a:hover{
    color: aqua;
}
                                               /* Main Design */
/*            section-1                 */
.section-1{
    
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),
     url("./assets/banner.jpg");
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.section-1 .banner-content{
    color: white;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:15%;
    bottom: 0;
    right: 30%;
    left:0;
    
    
}

.banner-content h1{
    font-size: 50px;
    margin: 5px;
}
.banner-content .cmn-btn{
   margin-top: 220px;
}
.cmn-btn:hover{
    background-color: orangered;
}

/*            Section-2           */

.section-2 div h1{
    text-align: center;
    margin: 50px;
}
.section-2 .speakers-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    align-items: center;
    justify-content: center;
    padding: 40px 30px;
    margin-bottom: 50px;
}


/* ------------Section-3--------------- */
.section-3{
    margin: 20px 5%;
    padding: 20px ;
}
.section-3 div{
    text-align: center;
    padding: 20px;
}
.section-3 .cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    
}
 .cards .card1{
   background:#f8f9fb;

    border-radius:10px;

    padding:30px;

    display:flex;

    flex-direction:column;

    justify-content:space-between;

    box-shadow:0 5px 15px rgba(0,0,0,.08);
}
.card1 .card-head{
    text-align: left;
    padding: 15px 10px;
}
.card1 .card-head p{
   
    color: #888888;
}
.card-1 .card-head h1{
    color: #0D1B2A;
    padding:20px;
}
.card1 .card-body{
    padding: 10px 0 10px 40px;
    text-align: justify;
    
}
 .card-1 .plan-btn{
    height: 100px;
    width: 90%;
    background-color: #0D1B2A;
}
.cards .card2{
    grid-template-columns: 100px;
    background-color: #F8F9FB;
}
.cards .card3{
    
    background-color: #F8F9FB;
}