*{
    margin:0;
    padding:0;
    font-family: Arial, sans-serif;
}

nav{
    display: flex;
    height:65px;
    width: 100%;
    background-color:#fff ;
    justify-content: center;
    align-items: center;
    gap:100px;
}
header ul{
   display: flex;
   list-style: none;
   justify-content: space-between;
   gap:20px;
}
header ul a{
    text-decoration: none;
    color: #575757;
}
.cmn-btn{
    background-color: #1D4ED8;
    color:white;
    border: none;
    height: 40px;
    width: 150px;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    
}
header ul a:hover{
    color: aqua;
}
                                               /* Main Design */
/*            section-1                 */
.section-1{
    
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),
     url("./assets/banner.jpg");
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.section-1 .banner-content{
    color: white;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:15%;
    bottom: 0;
    right: 30%;
    left:0;
    
    
}

.banner-content h1{
    font-size: 50px;
    margin: 5px;
}
.banner-content .cmn-btn{
   margin-top: 220px;
}
.cmn-btn:hover{
    background-color: orangered;
}

/*            Section-2           */
.section-2{

}
.section-2 h1{
    text-align: center;
    margin: 50px;
}
.section-2 .section-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap:25px;
    justify-content: center;
  
   
    
    
    
}

.speaker-color{
    color:#2563EB;
}
.section-content .speaker {
   border-radius: 20px;
}
.section-content .speaker div{
    
}